!!!                    
html(lang='ru')
  head
    meta(http-equiv='content-type', content='text/html; charset=utf-8')
    //- title= title
    link(rel='stylesheet', href='/stylesheets/test.css')
    block scripts
     script(src='/javascripts/analitic.js')
  body
       h1 Список всех картинок
       a(href='/')
         h2 Главная

       h3 сот.8-951-797-20-56 e-mail:maria-fomina(собачка)mail.ru

    block content
    block foot
      #footer
        p DYF "Сайт на коленке" 2012г. (тестовая версия)
