extends layout

block content
  #mcontent
    .colCenter
       p Воздушные шары умеют мгновенно преображать любое пространство!
         br
         Украшение воздушными шарами – это быстрый и доступный способ
         br
         преобразить интерьер банкетного зала, создать атмосферу лёгкости и радости.
         br
         Это уникальный способ сделать торжественное событие или праздник особенным и запоминающимся.
         br
         Мы с вами знаем, что каждый взрослый в душе остаётся ребёнком
         br
         и с радостью окунается в мир сказки. Вы можете сделать любой из радостных дней
         br
         по-настоящему сказочным,оформив, праздничный интерьер воздушными шарами.
         br
         Ваши гости попадут в мир сказки, лишь переступив порог оформленного помещения.
         br
         Воздушные шары – это широкие возможности для реализации своих творческих идей.

    #dyf-wrapper
       #carousel
            img(src='image/demo_1.jpg' ,width='250' ,height='200')
            img(src='image/demo_2.jpg' ,width='250' ,height='200')
            img(src='image/demo_3.jpg' ,width='250' ,height='200')
            img(src='image/demo_4.jpg' ,width='250' ,height='200')
            img(src='image/demo_5.jpg' ,width='250' ,height='200')
            img(src='image/demo_6.jpg' ,width='250' ,height='200')
            img(src='image/demo_7.jpg' ,width='250' ,height='200')
