extends layout

block content
  #mcontent
    .colCenter
      #img2
        .desc Фото №1
        a(traregt='_blank' , href='#')
          img(src='/images/sweet_1.jpg', alt='Sweet_1',width='195', height='260')
          p Сладкая ёлочка
      #img2
        .desc Фото №1
        a(traregt='_blank' , href='#')
          img(src='/images/sweet_2.jpg', alt='Sweet_2',width='195', height='260')
          p Сладкая принцеса
