extends layout

block content
  #mcontent
     .colCenter
       #img2
            //- .desc Фото №1
            a(traregt='_blank' , href='#')
             img(src='/images/ballon_1.jpg', alt='ballon_1',width='195', height='260')
             p описание
       #img2
           //- .desc Щелкни
           a(traregt='_blank' , href='#')
             img(src='/images/ballon_2.jpg', alt='ballon_2',width='195', height='260')
             p описание
       #img2
           a(traregt='_blank' , href='#')
             img(src='/images/ballon_3.jpg', alt='ballon_3',width='195', height='260')
             p описание
       #img2
           a(traregt='_blank' , href='#')
             img(src='/images/ballon_4.jpg', alt='ballon_4',width='195', height='260')
             p описание
       #img2
           a(traregt='_blank' , href='#')
             img(src='/images/ballon_6.jpg', alt='ballon_6',width='195', height='260')
             p описание
       #img2
           a(traregt='_blank' , href='#')
             img(src='/images/ballon_1.jpg', alt='ballon_1',width='195', height='260')
             p описание
       #img2
           a(traregt='_blank' , href='#')
             img(src='/images/ballon_2.jpg', alt='ballon_2',width='195', height='260')
             p описание
       #img2
           a(traregt='_blank' , href='#')
             img(src='/images/ballon_3.jpg', alt='ballon_3',width='195', height='260')
       #img2
           a(traregt='_blank' , href='#')
             img(src='/images/ballon_4.jpg', alt='ballon_4',width='195', height='260')
             p описание
       #img2
           a(traregt='_blank' , href='#')
             img(src='/images/ballon_6.jpg', alt='ballon_6',width='195', height='260')
             p описание
